html {
    padding-top: 3.5rem;
    background: white;
}

aside {
    position: absolute;
    width: 29%;
}

aside h2 {
    margin-top: 1.25rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    padding-left: .5rem;
    margin: 5px 0px 0px 0px;
}

h2, #header {
    background: teal;
    color: white;
}

b, text {
    padding-left: .5rem;
    box-decoration-break: clone;
}

a {
    color: dodgerblue;
}

ul {
    margin: 0;
    padding: 0 0 0 1.25rem;
}

.date {
    position: absolute;
    right: 10px;
}

.git {
    color: lightseagreen;
}

.title {
}

.code, .lib, .frame {
    text-decoration: underline;
}

.code {
    text-decoration-color: green;
}

.lib {
    text-decoration-color: blue;
}

.frame {
    text-decoration-color: magenta;
}

#right {
    margin-left: 30%;
    border-left: 2px solid black;
    padding-left: 4px;
}

#right h2 {
    margin-top: .5rem;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 5px;
}

#name {
    margin: 0rem;
}

#info li {
    margin: 0rem;
    font-size: 1rem;
    padding-left: 0rem;
}

#resume {
    display: none;
    position: absolute;
    bottom: .5rem;
    left: 2rem;
}
